.vscode
.DS_Store
target/ 
.idea/
.vscode/
aegis-data-plane/MODULE.bazel.lock
aegis-data-plane/aegis-engine/bazel-aegis-data-plane
aegis-data-plane/aegis-engine/bazel-bin
aegis-data-plane/aegis-engine/bazel-out
aegis-data-plane/aegis-engine/bazel-testlogs
aegis-data-plane/aegis-engine/bazel-aegis-engine
dump.*
bazel-bin
bazel-out
bazel-testlogs
test
MODULE.bazel.lock
